CRM sms-import.json
{
  "name": "CRM sms-import",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "sms-ingest",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -608,
        176
      ],
      "id": "51f8f37c-50aa-4a2d-b32e-7bc42946cade",
      "name": "Webhook",
      "webhookId": "6a710bce-2648-4102-9263-ba4d9ba3b215"
    },
    {
      "parameters": {
        "url": "=https://crm.alexrighetto.com/api/v1/Contact?where[0][type]=contains&where[0][attribute]=phoneNumber&where[0][value]={{$json.phone.slice(-10)}}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -16,
        144
      ],
      "id": "faff9ff7-f5ef-48c1-8409-4c5235b2d8d8",
      "name": "identify the user",
      "credentials": {
        "httpBasicAuth": {
          "id": "vNyWVXtHc0o2trfm",
          "name": "CRM Credentials Alex Righetto"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "a34169c7-1434-42b8-a4c9-16cd4504cffe",
              "leftValue": "={{ $json.total }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        224,
        96
      ],
      "id": "a5ea90a4-5312-4e86-b6ba-ae20ac206b6a",
      "name": "If"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        608,
        480
      ],
      "id": "12a6149e-5948-430c-b6ee-2eea8a0bd47d",
      "name": "User not Found"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "c6e55558-c746-4678-8a19-800f2a89e8a9",
              "name": "phone",
              "value": "=+17276122255",
              "type": "string"
            },
            {
              "id": "0ffcfbd0-f3ec-4f3e-893d-be2be4d83da3",
              "name": "text",
              "value": "={{ $('Webhook').item.json.body.text }}",
              "type": "string"
            },
            {
              "id": "64c65b81-a474-4f22-8198-11da740554f6",
              "name": "timestamp_unix",
              "value": "={{ Math.floor(( $('Webhook').item.json.body.date/ 1000000000) + 978307200) }}",
              "type": "number"
            },
            {
              "id": "bae4d6c1-bfcf-4757-a8e2-c3d257f768b7",
              "name": "from_me",
              "value": "={{ $('Webhook').item.json.body.from_me }}",
              "type": "boolean"
            },
            {
              "id": "bd1aed55-d3ed-49a6-9577-de72fae1df3a",
              "name": "id",
              "value": "={{ $('Webhook').item.json.body.id }}",
              "type": "number"
            },
            {
              "id": "9d1ef76b-406d-41b1-8e18-96f1a44710fd",
              "name": "timestamp_iso",
              "value": "={{ new Date((($('Webhook').item.json.body.date/ 1000000000) + 978307200) * 1000).toISOString() }}",
              "type": "string"
            },
            {
              "id": "534d7623-a61f-4eaf-8d34-2ea686881331",
              "name": "timestamp_local",
              "value": "={{ new Date((( $('Webhook').item.json.body.date/ 1000000000) + 978307200) * 1000).toLocaleString() }}",
              "type": "string"
            },
            {
              "id": "2e2732c8-e0b9-4469-a07e-767d26ab4317",
              "name": "device_id",
              "value": "={{ $('Webhook').item.json.body.device_id }}",
              "type": "string"
            },
            {
              "id": "06fbc90a-d4c9-4833-95c0-f39e86987a26",
              "name": "protocol",
              "value": "={{ $json.body.protocol }}",
              "type": "string"
            },
            {
              "id": "c5580b50-4329-40cd-aac4-85234a10758b",
              "name": "conversation_type",
              "value": "={{ $json.body.conversation_type }}",
              "type": "string"
            },
            {
              "id": "b4da47da-2d13-4067-b901-3397c1d976d7",
              "name": "chat_id",
              "value": "={{ $json.body.chat_id }}",
              "type": "string"
            },
            {
              "id": "296ab83a-1af0-4adf-b614-783b8f7bda8b",
              "name": "chat_name",
              "value": "={{ $json.body.chat_name }}",
              "type": "string"
            },
            {
              "id": "a4bb1c28-b8dc-400e-8c83-2037f78c9199",
              "name": "attachments",
              "value": "={{ $json.body.attachments }}",
              "type": "array"
            },
            {
              "id": "1053962e-c19b-4b3a-abd1-32ccdeead6b9",
              "name": "attachment_types",
              "value": "={{ $json.body.attachment_types }}",
              "type": "string"
            },
            {
              "id": "85a88f82-8272-4d0a-b322-5530b7411b3d",
              "name": "reaction_type",
              "value": "={{ $json.body.reaction_type }}",
              "type": "number"
            },
            {
              "id": "142bcec8-da14-4055-90d2-01333a8342a8",
              "name": "normalized_phone",
              "value": "={{ $json.body.chat_id.replace(/\\D/g,'') }}",
              "type": "string"
            },
            {
              "id": "8aa623d6-10e5-4dcd-b5f3-e6e46740b468",
              "name": "senderUserId",
              "value": "={{  $('Webhook').item.json.body.from_me  ? ($('Webhook').item.json.body.device_id === 'stacy-Imac'      ? '67aab1b96ae347692'      : '67aaa5f11a322091b')  : null  }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -320,
        144
      ],
      "id": "e341967d-788c-416b-830e-8dcdab423b97",
      "name": "Organize fields"
    },
    {
      "parameters": {
        "url": "=https://crm.alexrighetto.com/api/v1/CConversations?where[0][type]=equals&where[0][attribute]=externalId&where[0][value]={{ $('Organize fields').item.json.normalized_phone }}&maxSize=1",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        480,
        -80
      ],
      "id": "ace9b7e7-f388-47d4-aa2a-a9a23553364e",
      "name": "Find conversation",
      "credentials": {
        "httpBasicAuth": {
          "id": "vNyWVXtHc0o2trfm",
          "name": "CRM Credentials Alex Righetto"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://crm.alexrighetto.com/api/v1/CMessages",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n\"text\": \"{{ $('Organize fields').item.json.text }}\",\n\"chatId\": \"{{ $('Organize fields').item.json.chat_id }}\",\n\"deviceId\": \"{{ $('Organize fields').item.json.device_id }}\",\n\"messageId\": \"{{ $('Organize fields').item.json.id }}\",\n\"conversationType\": \"{{ $('Organize fields').item.json.conversation_type }}\",\n\"direction\": \"{{ $('Organize fields').item.json.from_me ? 'outgoing' : 'incoming' }}\",\n\"conversationsId\": \"{{ $json.conversationId }}\",\n\"phone\": \"{{ $('Organize fields').item.json.normalized_phone }}\",\n\"senderUserId\": \"{{ $('Organize fields').item.json.senderUserId }}\",\n\"name\": \"{{ ($('Organize fields').item.json.from_me ? ($('Organize fields').item.json.device_id === 'stacy-Imac' ? 'Stacy' : 'Alex') : $('Organize fields').item.json.phone) + ': ' + $('Organize fields').item.json.text }}\",\n\"contactId\": \"{{ $('identify the user').item.json.list[0].id }}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1488,
        -128
      ],
      "id": "d74e2d8a-0ec0-4514-8fad-e35fb8bd5967",
      "name": "Create message",
      "credentials": {
        "httpBasicAuth": {
          "id": "vNyWVXtHc0o2trfm",
          "name": "CRM Credentials Alex Righetto"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "333b77d0-1715-4a24-aaa8-d30c798bef48",
              "leftValue": "={{ $json.total }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        720,
        -112
      ],
      "id": "68f5a89e-a89d-4140-be6f-d218e5832cba",
      "name": "IF conversation exists"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "cfae9ea9-96be-4b09-9f20-b7cf57a2f18d",
              "name": "conversationId",
              "value": "={{$json.list[0].id}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1152,
        -288
      ],
      "id": "264139dd-0173-4dc1-8b18-3ea9a77c4737",
      "name": "SET conversation Id"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://crm.alexrighetto.com/api/v1/CConversations",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"name\": \"{{$('Organize fields').item.json.chat_name || $('Organize fields').item.json.chat_id}}\",\n  \"externalId\": \"{{ $('Organize fields').item.json.normalized_phone }}\",\n  \"protocol\": \"{{$('Organize fields').item.json.protocol}}\",\n  \"conversationType\": \"{{$('Organize fields').item.json.conversation_type}}\",\n  \"contactId\": \"{{$('identify the user').item.json.list[0].id}}\",\n\"phone\": \"{{ $('Organize fields').item.json.normalized_phone }}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1024,
        64
      ],
      "id": "f374f256-7c24-46c7-ae79-e40b81158b14",
      "name": "Create Conversation",
      "credentials": {
        "httpBasicAuth": {
          "id": "vNyWVXtHc0o2trfm",
          "name": "CRM Credentials Alex Righetto"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "cfae9ea9-96be-4b09-9f20-b7cf57a2f18d",
              "name": "conversationId",
              "value": "={{$json.id}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1248,
        176
      ],
      "id": "aceca79d-c47d-4ba2-ab29-bf7313299524",
      "name": "SET conversation Id1"
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=https://crm.alexrighetto.com/api/v1/CConversations/{{ $('SET conversation Id1').item.json.conversationId }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n \"name\": \"{{ $('Organize fields').item.json.chat_name || $('Organize fields').item.json.chat_id }}\",\n \"lastMessage\": \"{{ $('Organize fields').item.json.text }}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1872,
        -192
      ],
      "id": "29260e15-2294-4f16-afcc-2a409e198b21",
      "name": "Update conversation",
      "credentials": {
        "httpBasicAuth": {
          "id": "vNyWVXtHc0o2trfm",
          "name": "CRM Credentials Alex Righetto"
        }
      }
    }
  ],
  "pinData": {
    "Webhook": [
      {
        "json": {
          "headers": {
            "host": "n8n.srv739556.hstgr.cloud",
            "user-agent": "python-requests/2.31.0",
            "content-length": "423",
            "accept": "*/*",
            "accept-encoding": "gzip, deflate",
            "content-type": "application/json",
            "x-forwarded-for": "172.18.0.1",
            "x-forwarded-host": "n8n.srv739556.hstgr.cloud",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "8fd125281d11",
            "x-real-ip": "172.18.0.1"
          },
          "params": {},
          "query": {},
          "body": {
            "id": 391034,
            "device_id": "stacy-Imac",
            "source": "imessage",
            "event_type": "message",
            "from_me": false,
            "phone": "+17276122255",
            "text": "I think she knows",
            "date": 794356551669751400,
            "timestamp_unix": 1772663751,
            "timestamp_iso": "2026-03-04T22:35:51Z",
            "protocol": "imessage",
            "conversation_type": "direct",
            "chat_id": "+12017054241",
            "chat_name": "",
            "attachments": [],
            "attachment_types": null,
            "reaction_type": 0
          },
          "webhookUrl": "https://n8n.srv739556.hstgr.cloud/webhook/sms-ingest",
          "executionMode": "production"
        }
      }
    ]
  },
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Organize fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "identify the user": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Find conversation",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "User not Found",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "User not Found": {
      "main": [
        []
      ]
    },
    "Organize fields": {
      "main": [
        [
          {
            "node": "identify the user",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Find conversation": {
      "main": [
        [
          {
            "node": "IF conversation exists",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF conversation exists": {
      "main": [
        [
          {
            "node": "SET conversation Id",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Create Conversation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SET conversation Id": {
      "main": [
        [
          {
            "node": "Create message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Conversation": {
      "main": [
        [
          {
            "node": "SET conversation Id1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SET conversation Id1": {
      "main": [
        [
          {
            "node": "Create message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create message": {
      "main": [
        [
          {
            "node": "Update conversation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "ec66d7c3-a4d6-47fa-8754-55027ac4a9e9",
  "meta": {
    "instanceId": "1d674c672ff44588c21271e869eec7967714805f7e5fc5a222edee8ccdb0beab"
  },
  "id": "8eCvDz6GnLnGthl8",
  "tags": [
    {
      "updatedAt": "2025-03-01T14:57:53.200Z",
      "createdAt": "2025-03-01T14:57:53.200Z",
      "id": "Npf05uWBQJGoH858",
      "name": "CRM"
    },
    {
      "updatedAt": "2026-01-28T15:25:44.839Z",
      "createdAt": "2026-01-28T15:25:44.839Z",
      "id": "aIJgxXkKyDVURSYG",
      "name": "Webhooks"
    },
    {
      "updatedAt": "2026-02-28T01:58:09.293Z",
      "createdAt": "2026-02-28T01:58:09.293Z",
      "id": "qZI5HqHLfydkiRup",
      "name": "SMS"
    },
    {
      "updatedAt": "2026-02-28T01:58:12.004Z",
      "createdAt": "2026-02-28T01:58:12.004Z",
      "id": "yRITpOFG7EXNQoce",
      "name": "Stacy"
    }
  ]
}
